{{ $dateMissing := eq .Date.Year 1}}
</div>

<footer>
  <div class="container">
    <span class="copyright">&copy; {{ if eq $dateMissing true }}{{ .Site.LastChange.Format "2006" }}{{ else }}{{ .Date.Format "2006" }} {{ end }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
  </div>
</footer>

<script id="dsq-count-scr" src="//raihli.disqus.com/count.js" async></script>
</body>
</html>
