<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
<meta name="keywords" content="{{ delimit .Keywords  "," }}">
<meta name="author" content="{{ .Site.Params.author }}">
{{ .Hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/css/style.min.css" | absURL }}" type="text/css">
<link rel="stylesheet" href="{{ "/css/tomorrow-night-eighties.css" | absURL }}" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css">

<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
</head>
<body>

<header>
  <div class="container clearfix">
    <a class="path" href="{{ .Site.BaseURL }}">[{{ .Site.Title }}]</a>
    <span class="caret"># _</span>
    <div class="right">
      {{ range $i, $page := (where .Site.Pages "Section" "pages") }}
        {{ if not (eq $i 0) }}|{{ end }}
        <a class="path" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      {{ end }}
    </div>
  </div>
</header>

<div class="container">
