{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">R</span><span class="base09">a</span><span class="base0a">i</span><span class="base0b">h</span><span class="base0c">l</span><span class="base0d">i</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}/img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  Faut vraiment que je trouve un sous-titre ?
</div>
